<div class="table-container">
  <div class="mat-table-container">
    <div class="toolbar" *ngIf="showSearch">
      <mat-form-field appearance="outline" class="filter">
        <mat-label>{{filterPlaceholder}}</mat-label>
        <input matInput (keyup)="applyFilter($any($event.target).value)" />
        <button mat-icon-button matSuffix *ngIf="dataSource.filter" (click)="applyFilter('')" aria-label="clear">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>


    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2">


      <!-- Dynamic Columns -->
      <ng-container *ngFor="let col of columns" [matColumnDef]="col.key">
        <ng-container *ngIf="col.sortable; else nonSortableHeader">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ col.label }}
          </th>
        </ng-container>

        <ng-template #nonSortableHeader>
          <th mat-header-cell *matHeaderCellDef>
            {{ col.label }}
          </th>
        </ng-template>

        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="col.cell; else defaultCell">
            {{ col.cell(row) }}
          </ng-container>
          <ng-template #defaultCell>
            {{ row[col.key] }}
          </ng-template>
        </td>
      </ng-container>


      <!-- Actions Column -->
      <ng-container matColumnDef="actions" *ngIf="displayActions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <!-- move the *ngFor to an ng-container, put *ngIf on the button -->
            <ng-container *ngFor="let act of actions">
              <button mat-menu-item *ngIf="!act.showIf || act.showIf(row)" (click)="emitAction(act.name, row)">
                <mat-icon>{{ act.icon }}</mat-icon>
                <span>{{ act.label || act.name }}</span>
              </button>
            </ng-container>
          </mat-menu>
        </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row)" class="data-row"></tr>
    </table>


    <mat-paginator *ngIf="pageSizeOptions?.length" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"
      showFirstLastButtons></mat-paginator>
  </div>
</div>
